<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo">
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      Nivel de agua
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" fill="outline" shape="round" href="../login">
    Cerrar sesión
  </ion-button>

</ion-content>