<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person-circle"></ion-icon> Water Care
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background">

  <div id="header">
    <h1>Iniciar sesión</h1>
    <img src="assets/icon_user.png" />
  </div>

  <form id="form">
    <app-input type="email" name="email" placeholder="Correo electrónico"></app-input>
    <app-input type="password" name="password" placeholder="Contraseña"></app-input>
    <ion-button expand="block" shape="round" href="../inicio">Iniciar sesión</ion-button>
  </form>

</ion-content>